.card-header{
    background-image: url('image/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.questionaire-inst-addr{
    margin-top: -20px;
}
.questionaire-heading{
    background-image: url('footer-bg.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
}